# Virtual environments 
.venv/ 
venv/ 

# Models 
/models

# Compiled sources 
src/__pycache__/ 
*.pyc 

# Other temp files
tmp/
troubleshooting/

# keys
config/credentials.yaml

# Files not ready to be shared
src/flask/*.bat
src/flask/*.pem
src/flask/*.ppk
